/* =================== LAYOUT PRINCIPAL =================== */
.atendimento-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
/* Imagem do médico */
.image-prontuario {
  position: absolute;
  top: 150px;
  right: 0;
  width: 150px;
  transform: translateX(-360%); /* Ajuste o percentual conforme necessário */
}

.atendimento-container h2 {
  color: #f12323;
  font-size: 24px;
  margin-bottom: 20px;
}

.dados-paciente {
  width: 100%;
  text-align: left;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.dados-paciente h3 {
  margin-bottom: 15px;
  color: #d12828;
}

.conteudo-principal {
  display: flex;
  gap: 20px;
}

.prontuario, .historico-paciente {
  width: 50%;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.prontuario h3, .historico-paciente h3 {
  margin-bottom: 15px;
  color: #f12323;
}

.campo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.campo label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Garante que padding não altere o tamanho */
}

.botoes-prontuario {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 12px 25px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #ff4d4d;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.delete-button:hover {
  background-color: #cc0000;
}

.prontuario-item {
  flex-grow: 1;
}

.historico-paciente ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.historico-paciente li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #8db6e6;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(238, 17, 17, 0.1);
}

.historico-paciente hr {
  margin: 1px 0;
  border: 0;
  border-top: 1px solid #2e0d8a;
}

/* =================== RESPONSIVIDADE =================== */
@media (max-width: 1024px) {
  .conteudo-principal {
    flex-direction: column;
  }

  .prontuario, .historico-paciente {
    width: 100%;
  }
}